* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    overflow: hidden;
}

#left {
    background-color: rgb(112, 131, 214);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 1fr 8fr;
    color: white;
}

#right {
    background-color: white;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
}

#mainContent {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

#widgetBar {
    display: grid;
    grid-column: 2;
    grid-template-rows: 5fr 4fr;
    background-color: green;
}

#announcements {
    grid-row: 1;
}

#trending {
    grid-row: 2;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 64px;
    padding-left: 16px;
}

#logo svg {
    width: min(50px);
    padding-right: 8px;
}

svg {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(32deg) brightness(108%) contrast(106%);
}

a {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px;
    padding-left: 32px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a svg {
    width: min(35px);
    padding-right: 20px;
}

ul svg {
    width: 24px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fit);
    padding-top: 64px;
}

#secondUL {
    margin-top: auto;
}

.project {
    border-radius: 10px;
}