:root {
    --primary-color: rgb(112, 131, 214);
    --font-size-headings: 16px;
    --font-size-para: 12px;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    overflow: hidden;

}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

#left {
    background-color: var(--primary-color);
    grid-column: 1 / 2;
    grid-row: 1 / 5;
    display: grid;
    grid-template-rows: 1fr 8fr;
    color: white;
}


#mainContent {
    background-color: lightgray;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

#announcements {
    grid-row: 1;
}

#trending {
    grid-row: 2;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 64px;
    padding-left: 16px;
}

#logo svg {
    width: min(50px);
    padding-right: 8px;
}

svg {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(32deg) brightness(108%) contrast(106%);
}

a {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 8px;
    padding-left: 32px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a svg {
    width: min(35px);
    padding-right: 20px;
}

ul svg {
    width: 24px;
}

ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: repeat(auto-fit);
    padding-top: 64px;
}

#secondUL {
    margin-top: auto;
}

#projectsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    gap: 16px;
}

#projects {
    gap: 16px;
    padding: 16px;
}

.project {
    border-radius: 10px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 32fr;
    grid-template-rows: 1fr 6fr 2fr;
}

.projectLine {
    display: grid;
    background-color: orange;
    grid-column: 1;
    grid-row: 1 / 4;
}

.projectText {
    display: grid;
    grid-column: 2 / 2;
    grid-row-start: 2;
    padding: 8px;
}

.projectText > * {
    font-size: var(--font-size-para)
}

.projectText p {
    color: gray;
}

.projectText h2 {
    font-size: var(--font-size-headings)
}

.projectIcons {
    display: flex;
    justify-content: flex-end;
    grid-row-start: 3;
}

.projectIcons svg {
    padding: 16px;
    width: min(24px);
    filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(17%) hue-rotate(67deg) brightness(91%) contrast(101%);
}

#projects {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#search {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
}

#right {
    background-color: white;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#rightProfile {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2;
}

#rightButtons {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rightButtons button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 12px 32px;
    margin: 0 16px;
    border-radius: 32px;
    cursor: pointer;
}

#widgetBar {
    display: grid;
    grid-column: 2;
    grid-template-rows: 1fr 7fr 5fr 1fr;
    gap: 16px;
    padding: 16px;
}

.announcement h1 {
    font-size: var(--font-size-headings);
}



#widgetBar p {
    font-size: var(--font-size-para);
}

#announcements, #trending {
    border-radius: 16px;
}

#announcements {
    gap: 16px;
    padding: 16px;
    display: grid;
    grid-row: 2;
    background-color: white;
}

#trending {
    display: grid;
    grid-row: 3;
}

.bordertop {
    border-top: 1px solid gray;
    padding-top: 8px;
}

#mainh1 {
    font-size: 32px;
}

#rightProfile {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    box-sizing: border-box;
    padding: 16px;
}

#image1 {
    /* width: 100px; */
    background-image: url("./images/arrow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
    height: 100%;
    display: grid;
    grid-row: 1 / 3;
    border-radius: 1000px;
    justify-self: end;
    align-self:end;
}
#rightProfile h2 {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    align-self: end;
    font-size: 16px;
    padding-left: 16px;
}

#rightProfile h1 {
    display: grid;
    grid-column: 2;
    grid-row: 2;
    align-self:top;
    font-size: 24px;
    padding-left: 16px;
}

#trending {
    display: grid;
    grid-template-rows: 1fr repeat(4, 1fr);
}

#trendingInner {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 6;
    background-color: white;
    border-radius: 16px;
    justify-content: space-around;
    padding: 12px 16px; /* give room all around */
}

.trendingPic {
    background-image: url("./images/arrow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    aspect-ratio: 1 / 1;
    height: 100%;
    border-radius: 1000px;
    justify-self: start;
    align-self:start;
}

